@media (max-width: 600px) {
    .login-header img {
        width: 30%;
    }

    .login-header h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .login-input {
        font-size: 1rem;
        padding: 12px;
    }

    .login-button {
        font-size: 1rem;
        padding: 12px;
        max-width: 100%;
    }

    .login-form {
        padding: 0 20px;
    }
}

